{% extends 'base/base.html' %}
{% block content %}
<section class="get-started">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <!-- Post content-->
                <article>
                    <br>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <div>
                            <span class="fw-bolder mb-1" style="font-size: 30px;">{{project.project_name}}</span><small class="badge bg-danger text-white position-absolute mt-1 ms-1">{{project.project_type}}</small>
                        </div>
                        <!-- Post meta content-->
                        <div class="text-muted fst-italic mb-2">Posted on {{project.created}}</div>
                    </header>
                    <!-- Preview image figure-->
                    <figure class="mb-4"><img class="img-fluid rounded" src="{{project.image.url}}" alt="{{project.project_name}}" style="height:400px; width: 100%;" ></figure>
                    <!-- Post content-->
                    <section class="mb-5">
                        <p>
                            {{project.project_description}}
                        </p>
                    </section>
                </article>
            </div>
            <!-- Side widgets-->
            {% include 'projects/sidebar.html' %}
        </div>
    </div>
</section>
{% endblock %}