<div class="col-lg-4">
    <!-- Search widget-->
    {% include 'projects/search_project_form.html' %}
    <!-- Categories widget-->
    <div class="card mb-4">
        <div class="card-header">Categories</div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="list-unstyled mb-0">
                        {% for tag in project.language_used.all %}
                            <li><span class="badge bg-secondary text-decoration-none link-light">{{tag}}</span></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Side widget-->
    <div class="card mb-4">
        <div class="card-header">Project Link</div>
        <div class="card-body">
            {% if project.video_url %}
                <p>Youtube Demo: <small><a href="{{project.video_url}}" target="_blank">{{project.video_url}}</a></small></p>
            {% endif %}
            {% if project.project_url %}
                <p>Web Demo: <small><a href="{{project.project_url}}" target="_blank">{{project.project_url}}</a></small></p>
            {% endif %}
            {% if project.github_url %}
                <p>Github: <small><a href="{{project.github_url}}" target="_blank">{{project.github_url}}</a></small></p>
            {% endif %}
        </div>
    </div>
</div>