asgiref==3.8.1
certifi==2024.12.14
charset-normalizer==3.4.1
cloudinary==1.42.1
Django==5.0.7
django-ckeditor==6.7.2
django-cloudinary-storage==0.3.0
django-js-asset==3.0.1
django-taggit==6.1.0
gunicorn==23.0.0
idna==3.10
packaging==24.2
pillow==11.0.0
psycopg2-binary==2.9.9
requests==2.32.3
six==1.17.0
sqlparse==0.5.3
urllib3==2.3.0
