{% load static %}
{% load cloudinary %}
<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    #pageMessages {
      position: fixed;
      top: 70px;
      width: 400px;
      right:0px;
      float: right;
    }
    .align-right {
      -webkit-box-pack: end;
      justify-content: flex-end;
      float: right;
    }
    .alert {
      position: relative;
    }

    .alert .close {
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 1em;
    }

    .alert .fa {
      margin-right:.3em;
    }
  </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{my_detail.data.full_name}}</title>
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
<!-- ////////////////////////////////////////////////////////////////////////////////////////
                               START SECTION 1 - THE NAVBAR SECTION  
/////////////////////////////////////////////////////////////////////////////////////////////-->
{% if title %}
  {% include 'base/home_nav.html' %}
{% else %}
  {% include 'base/all_nav.html' %}
{% endif %}
  <main>
    {% if messages %}
    {% for message in messages %}
    <div id="pageMessages" class="pageMessages col-lg-4 col-sm-10 col-xs-10 col-md-6 align-right" style="z-index: 999;">
      <div class="alert animated flipInX alert-{{ message.tags }} alert-dismissible">
        <strong><i class="fa fa-thumbs-up"></i>{% if message.tags == 'warning' %} Error! {% else %} Success! {% endif %}&nbsp;</strong>
        {{ message }}
        <span class="btn-close" data-bs-dismiss="alert">
        </span>
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </main>
{% block content %}
{% endblock %}

<footer class="footer">
  <div class="container">
    <div class="row">
      <!-- CONTENT FOR THE MOBILE NUMBER  -->
      <div class="col-md-4 col-lg-4 contact-box pt-1 d-md-block d-lg-flex d-flex">
        <div class="contact-box__info">
          <button type="button" class="rounded-pill btn-rounded">DebugxFistey
            <span><i class="fab fa-github"></i></span>
          </button>
        </div>
      </div>  
      <!-- CONTENT FOR EMAIL  -->
      <div class="col-md-4 col-lg-4 contact-box pt-1 d-md-block d-lg-flex d-flex">

        <div class="contact-box__info">
          <button type="button" class="rounded-pill btn-rounded">khanalsujit.com.np
            <span><i class="fas fa-code"></i></span>
          </button>
        </div>
      </div>
      <!-- CONTENT FOR LOCATION  -->
      <div class="col-md-4 col-lg-4 contact-box pt-1 d-md-block d-lg-flex d-flex">
        <div class="contact-box__info">
          <button type="button" class="rounded-pill btn-rounded">Pokhara, Nepal
            <span><i class="fas fa-map"></i></span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- START THE SOCIAL MEDIA CONTENT  -->
  <div class="footer-sm" style="background-color: #212121;">
    <div class="container">
      <div class="row py-4 text-center text-white">
        <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
          © Copyright 2022 {{my_detail.data.nick_name}} | Developed by {{my_detail.data.full_name}}
        </div>
        <div class="col-lg-6 col-md-6">
          <a href="{{my_detail.data.facebook_url}}"><i class="fab fa-facebook"></i></a>
          <a href="{{my_detail.data.github_url}}" target="_blank"><i class="fab fa-github"></i></a>
          <a href="https://wa.me/{{my_detail.data.whatsapp}}" target="_blank"><i class="fab fa-whatsapp"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>

<a href="#" class="shadow btn-primary rounded-circle back-to-top">
  <i class="fas fa-chevron-up"></i>
</a>
<!-- Messenger Chat plugin Code -->
<div id="fb-root"></div>

<!-- Your Chat plugin code -->
<div id="fb-customer-chat" class="fb-customerchat">
</div>

<script>
  var chatbox = document.getElementById('fb-customer-chat');
  chatbox.setAttribute("page_id", "114305568254324");
  chatbox.setAttribute("attribution", "biz_inbox");
</script>

<!-- Your SDK code -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v16.0'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

    <script src="{% static 'assets/vendors/js/glightbox.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
