{% extends 'base/base.html' %}
{% load static %}
{% block content %}    
    
    <!-- Hero Section Start -->
    <section class="main-hero-area pt-150 pb-80 rel z-1">
        <div class="container container-1620">
            <div class="row align-items-center">
                <div class="col-lg-4 col-sm-7">
                    <div class="hero-content rmb-55 wow fadeInUp delay-0-2s">
                        <span class="h2">Hello, i’m </span>
                        <h1><b>{{my_detail.data.full_name}}</b> <span style="font-size:30px;">{{my_detail.data.profession}}</span></h1>
                        {{my_detail.data.slogon | safe}}
                        <div class="hero-btns">
                            <a href="contact.html" class="theme-btn">Hire Me <i class="far fa-angle-right"></i></a>
                            <a href="{% url 'download_cv' %}" download="cv_sujitkhanal.pdf" class="read-more">Download Resume <i class="far fa-angle-right"></i></a>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-5 order-lg-3">
                    <div class="hero-counter-wrap ms-lg-auto rmb-55 wow fadeInUp delay-0-4s">
                        <div class="counter-item counter-text-wrap">
                            <span class="count-text" data-speed="3000" data-stop="{{my_detail.data.get_age}}">0</span>
                            <span class="counter-title">Age</span>
                        </div>
                        <div class="counter-item counter-text-wrap">
                            <span class="count-text plus" data-speed="3000" data-stop="{{my_detail.data.get_coding_started_at}}">0</span>
                            <span class="counter-title">Years Of Experience</span>
                        </div>
                        <div class="counter-item counter-text-wrap">
                            <span class="count-text plus" data-speed="3000" data-stop="{{my_detail.data.get_completed_projects}}">0</span>
                            <span class="counter-title">Project Complete</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="author-image-part wow fadeIn delay-0-3s">
                        <div class="bg-circle"></div>
                        <img src="{{my_detail.data.display_photo.url}}" alt="Author">
                        <div class="progress-shape">
                            <img src="{% static 'assets/images/shapes/progress-shape.png' %}" alt="Progress">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-lines">
            <span></span><span></span>
            <span></span><span></span>
            <span></span><span></span>
            <span></span><span></span>
            <span></span><span></span>
        </div>
    </section>
    <!-- Hero Section End -->
    
    
    <!-- About Area start -->
    <section class="about-area rel z-1" id="about">
        <div class="for-bgc-black py-130 rpy-100">
            <div class="container">
                <div class="row gap-100 align-items-center">
                    <div class="col-lg-7">
                        <div class="about-content-part rel z-2 rmb-55">
                            <div class="section-title mb-35 wow fadeInUp delay-0-2s">
                                <span class="sub-title mb-15">About Me</span>
                                <h2>Professional <span>{{my_detail.data.profession}}</span></h2>
                                <p>{{my_detail.data.about_short}}</p>
                            </div>
                            <ul class="list-style-one two-column wow fadeInUp delay-0-2s">
                                {% for know in knowledge %}
                                    <li>{{know.title}}</li>
                                {% endfor %}
                            </ul>
                            <div class="about-info-box mt-25 wow fadeInUp delay-0-2s">
                                <div class="info-box-item">
                                    <i class="far fa-envelope"></i>
                                    <div class="content">
                                        <span>Email Us</span><br>
                                        <a href="mailto:{{my_detail.data.email}}">{{my_detail.data.email}}</a>
                                    </div>
                                </div>
                                <div class="info-box-item">
                                    <i class="far fa-phone"></i>
                                    <div class="content">
                                        <span>Make A Call</span><br>
                                        <a href="callto:{{my_detail.data.country_code}}{{my_detail.data.contact_number}}">{{my_detail.data.country_code}}{{my_detail.data.contact_number}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="about-image-part wow fadeInUp delay-0-3s">
                            <img src="{{my_detail.data.second_display_photo.url}}" alt="About Me">
                            <div class="about-btn btn-one wow fadeInRight delay-0-4s">
                                <img src="{% static 'assets/images/backend.jpg' %}" alt="Image">
                                <h6>Experience Backend Developer</h6>
                                <i class="fas fa-arrow-right"></i>
                            </div>
                            <div class="about-btn btn-two wow fadeInRight delay-0-5s">
                                <img src="{% static 'assets/images/python.jpg' %}" alt="Image">
                                <h6>Knowledge of Python</h6>
                                <i class="fas fa-arrow-right"></i>
                            </div>
                            <div class="dot-shape">
                                <img src="{% static 'assets/images/shapes/about-dot.png' %}" alt="Shape">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-lines">
            <span></span><span></span>
            <span></span><span></span>
            <span></span><span></span>
            <span></span><span></span>
            <span></span><span></span>
        </div>
    </section>
    <!-- About Area end -->
    
    
    <!-- Resume Area start -->
    <section class="resume-area pt-50 rpt-100 rel z-1 mb-30">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="big-icon mt-85 rmt-0 rmb-55 wow fadeInUp delay-0-2s">
                        <img src="{% static 'assets/images/education.png' %}" style="width:90%">
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-xl-8 col-lg-9">
                            <div class="section-title mb-60 wow fadeInUp delay-0-2s">
                                <span class="sub-title mb-15">My Resume</span>
                                <h2><span>Education</span> Timeline</h2>
                            </div>
                        </div>
                    </div>
                    <div class="resume-items-wrap">
                        <div class="row justify-content-between">
                            {% for edu in education %}
                            <div class="col-xl-5 col-md-6">
                                <div class="resume-item wow fadeInUp delay-0-3s">
                                    <div class="icon">
                                        <i class="far fa-arrow-right"></i>
                                    </div>
                                    <div class="content">
                                        <span class="years">{{edu.start_date}} - {% if edu.is_present_here %}Present{% else %} {{edu.end_date}}{% endif %}</span>
                                        <h5>{{edu.school_name}}</h5>
                                        <span class="company">{{edu.address}}, {{edu.state}}</span>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="big-icon mt-85 rmt-0 rmb-55 wow fadeInUp delay-0-2s">
                        <img src="{% static 'assets/images/timeline.png' %}" style="width:80%">
                    </div>
                </div>
                <div class="col-lg-9">

            <div class="row">
                <div class="col-xl-8 col-lg-9">
                    <div class="section-title mb-60 wow fadeInUp delay-0-2s mt-50">
                        <h2><span>Experience</span> Timeline</h2>
                    </div>
                </div>
            </div>
            <div class="resume-items-wrap">
                <div class="row justify-content-between">
                    {% for exp in experience %}
                        <div class="col-xl-5 col-md-6">
                            <div class="resume-item wow fadeInUp delay-0-3s">
                                <div class="icon">
                                    <i class="far fa-arrow-right"></i>
                                </div>
                                <div class="content">
                                    <span class="years">{{exp.start_date}} - {% if exp.is_present_here %}Present{% else %} {{exp.end_date}}{% endif %}</span>
                                    <h4>{{exp.position}}</h4>
                                    <span class="company">{{exp.company_name}}</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
        </div>
        <div class="bg-lines">
            <span></span><span></span>
            <span></span><span></span>
            <span></span><span></span>
            <span></span><span></span>
            <span></span><span></span>
        </div>
    </section>
    <!-- Resume Area end -->
    
    
    <!-- Skill Area start -->
    <section class="skill-area rel z-1">
        <div class="for-bgc-black pt-130 rpt-100 pb-100 rpb-70">
            <div class="container">
                <div class="row gap-100">
                    <div class="col-lg-5">
                        <div class="skill-content-part rel z-2 rmb-55 wow fadeInUp delay-0-2s">
                            <div class="section-title mb-40">
                                <span class="sub-title mb-15">My Skills</span>
                                <h2>Let’s Explore My <span>Skills & Experience</span></h2>
                                <p>
                                    I specialize in backend development, web and mobile app development, and integrating third-party services. I’m passionate about exploring new technologies and ensuring secure, scalable solutions.
                                </p>
                            </div>
                            <a href="about.html" class="theme-btn">Learn More <i class="far fa-angle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="skill-items-wrap">
                            <div class="row">
                                {% for skill in skills %}
                                <div class="col-xl-3 col-lg-4 col-md-3 col-sm-4 col-6">
                                    <div class="skill-item wow fadeInUp delay-0-2s">
                                        <img src="{{skill.logo.url}}" alt="Skill" style="width:60px; height:50px;">
                                        <h5>{{skill.skill_name}}</h5>
                                        <span class="percent">{{skill.percentage}}%</span>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-lines">
            <span></span><span></span>
            <span></span><span></span>
            <span></span><span></span>
            <span></span><span></span>
            <span></span><span></span>
        </div>
    </section>
    <!-- Skill Area end -->    
    
    <!-- Testimonial Area start -->
    <section class="testimonials-area rel z-1">
        <div class=" py-130 rpy-100">
            <div class="container">
                <div class="row gap-90">
                    <div class="col-lg-4">
                        <div class="testimonials-content-part rel z-2 rmb-55 wow fadeInUp delay-0-2s">
                            <div class="section-title mb-40">
                                <span class="sub-title mb-15">Latest Projects</span>
                                <h2>Explore My <span>Latest Work</span></h2>
                                <p>Explore my latest projects where I’ve applied innovative solutions to real-world challenges. From e-commerce platforms to mobile apps, my work spans a variety of industries and technologies. Each project reflects my commitment to quality, user experience, and cutting-edge solutions. Dive into my portfolio to see how I transform ideas into functional, scalable, and impactful products</p>
                            </div>
                            <div class="slider-arrows">
                                <button class="testimonial-prev"><i class="fal fa-arrow-left"></i></button>
                                <button class="testimonial-next"><i class="fal fa-arrow-right"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="testimonials-wrap">
                            {% for project in projects %}
                            <div class="testimonial-item wow fadeInUp delay-0-3s">
                                <div class="author">
                                    <a href="/project/detail/{{project.id}}/">
                                        <img src="{{project.image.url}}" alt="Author">
                                    </a>
                                </div>
                                <div class="text">{{ project.project_description|truncatechars:200|safe }}</div>
                                <div class="testi-des">
                                    <h5><a href="/project/detail/{{project.id}}/">{{project.project_name}}</a></h5>
                                    <span>{{project.project_type}}</span>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-lines">
            <span></span><span></span>
            <span></span><span></span>
            <span></span><span></span>
            <span></span><span></span>
            <span></span><span></span>
        </div>
    </section>
    <!-- Testimonial Area end -->    
    
    
    <!-- Blog Area start -->
    <section class="blog-area rel z-1">
        <div class="for-bgc-black pt-130 pb-100 rpt-100 rpb-70">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-12">
                        <div class="section-title text-center mb-60 wow fadeInUp delay-0-2s">
                            <span class="sub-title mb-15">News & Blog</span>
                            <h2>Latest News & <span>Blog</span></h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for blog in posts %}
                    <div class="col-lg-6">
                        <div class="blog-item wow fadeInUp delay-0-2s">
                            <div class="image">
                                <img src="{{blog.image.url}}" alt="{{blog.title}}">
                            </div>
                            <div class="content">
                                <div class="blog-meta mb-35">
                                    {% for tag in blog.tags.all %}
                                        <a class="tag" href="#">{{tag.name}}</a>
                                    {% endfor %}
                                </div>
                                <h5><a href="/blogs/{{blog.slug}}">{{blog.title}}</a></h5>
                                <hr>
                                <div class="blog-meta mt-35">
                                    <a class="date" href="#"><i class="far fa-calendar-alt"></i> {{blog.published_at}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="bg-lines">
            <span></span><span></span>
            <span></span><span></span>
            <span></span><span></span>
            <span></span><span></span>
            <span></span><span></span>
        </div>
    </section>
    <!-- Blog Area end -->

    <section class="contact-area pt-95 pb-130 rpt-70 rpb-100 rel z-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="contact-page-content rmb-55 wow fadeInUp delay-0-2s">
                        <div class="section-title mb-30">
                            <span class="sub-title mb-15">Get In Touch</span>
                            <h2>Let’s Talk For your <span>Next Projects</span></h2>
                        </div>
                        <h6>Contact Info</h6>
                        <div class="widget_contact_info mb-35">
                            <ul>
                                <li><i class="far fa-map-marker-alt"></i> {{my_detail.data.address}},<br> {{my_detail.data.state}}, {{my_detail.data.country}}</li>
                                <li><i class="far fa-envelope"></i> <a href="mailto:{{my_detail.data.email}}">{{my_detail.data.email}}</a></li>
                                <li><i class="far fa-envelope"></i> <a href="mailto:{{my_detail.data.mail}}">{{my_detail.data.mail}}</a></li>
                                <li><i class="far fa-phone"></i> <a href="callto:{{my_detail.data.country_code}}{{my_detail.data.contact_number}}">{{my_detail.data.country_code}}{{my_detail.data.contact_number}}</a></li>
                            </ul>
                        </div>
                        <h5>Follow Me</h5>
                        <div class="social-style-one mt-10">
                            <a href="{{my_detail.data.facebook_url}}"><i class="fab fa-facebook-f"></i></a>
                            <a href="{{my_detail.data.github_url}}"><i class="fab fa-github"></i></a>
                            <a href="{{my_detail.data.linkedin_url}}"><i class="fab fa-linkedin-in"></i></a>
                            <a href="{{my_detail.data.instagram_url}}"><i class="fab fa-instagram"></i></a>
                            <a href="{{my_detail.data.youtube_channel}}"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="contact-form contact-form-wrap form-style-one wow fadeInUp delay-0-4s">
                        <form class="contactForm" name="contactForm" method="post" action="{% url 'contact:contact' %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">Full Name</label>
                                        <input type="text" id="name" name="full_name" class="form-control" value="" placeholder="Your Name" required data-error="Please enter your Name">
                                        <label for="name" class="for-icon"><i class="far fa-user"></i></label>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email">Email Address</label>
                                        <input type="email" id="email" name="email" class="form-control" value="" placeholder="youremail@mail.com" required data-error="Please enter your Email">
                                        <label for="email" class="for-icon"><i class="far fa-envelope"></i></label>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="phone_number">Phone Number</label>
                                        <input type="text" id="phone_number" name="phone_number" class="form-control" value="" placeholder="+880 (123) 456 88" required data-error="Please enter your Phone Number">
                                        <label for="phone_number" class="for-icon"><i class="far fa-phone"></i></label>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="subject">Subject</label>
                                        <input type="text" id="subject" name="subject" class="form-control" value="" placeholder="Subject" required data-error="Please enter your Subject">
                                        <label for="subject" class="for-icon"><i class="far fa-text"></i></label>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="message">Message</label>
                                        <textarea name="message" id="message" class="form-control" rows="4" placeholder="write message" required data-error="Please enter your Message"></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group mb-0">
                                        <button type="submit" class="theme-btn">Send Us Message <i class="far fa-angle-right"></i></button>
                                        <div id="msgSubmit" class="hidden"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-lines">
            <span></span><span></span>
            <span></span><span></span>
            <span></span><span></span>
            <span></span><span></span>
            <span></span><span></span>
        </div>
    </section>
{% endblock %}
    
