{% extends 'base/base.html' %}
{% load static %}
{% load cloudinary %}
{% block content %}
<style>
  .tcb-product-slider {
    background: #333;
    background-image: url(https://unsplash.it/1240/530?image=721);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0;
  }

  .tcb-product-slider .carousel-control {
    width: 5%;
  }

  .tcb-product-item a {
    color: #147196;
  }

  .tcb-product-item a:hover {
    text-decoration: none;
  }

  .tcb-product-item .tcb-hline {
    margin: 10px 0;
    height: 1px;
    background: #ccc;
  }

  @media all and (max-width: 768px) {
    .tcb-product-item {
      margin-bottom: 30px;
    }
  }

  .tcb-product-photo {
    text-align: center;
    height: 180px;
    background: #fff;
  }

  .tcb-product-photo img {
    height: 100%;
    display: inline-block;
  }

  .tcb-product-info {
    background: #f0f0f0;
    padding: 15px;
  }

  .tcb-product-title h4 {
    margin-top: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .tcb-product-rating {
    color: #acacac;
  }

  .tcb-product-rating .active {
    color: #FFB500;
  }

  .tcb-product-price {
    color: firebrick;
    font-size: 18px;
  }



  .details {
    margin: 50px 0;
  }

  .details h1 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 3px;
  }

  .details .back-link {
    text-align: center;
  }

  .details .back-link a {
    display: inline-block;
    margin: 20px 0;
    padding: 15px 30px;
    background: #333;
    color: #fff;
    border-radius: 24px;
  }

  .details .back-link a svg {
    margin-right: 10px;
    vertical-align: text-top;
    display: inline-block;
  }
</style>
<section id="home" class="intro-section">
  <div class="container">
    <div class="row align-items-center text-white">
      <!-- START THE CONTENT FOR THE INTRO  -->
      <div class="col-md-6 intros text-start">
        <h1 class="display-2">
          <span class="display-2--intro">Hello!, I'm Sujit Khanal</span>
          <span class="display-2--description lh-base" style="font-size:12">
            I am currently studing software engineering at Gandaki Collage Of Engineering and Science (GCES).<br><br>
            EAT(); SLEEP(); CODE(); REPEAT();
          </span>
        </h1>
        <a href="#contact" style="text-decoration: none;">
          <button type="button" class="rounded-pill btn-rounded">Get in Touch
            <span><i class="fas fa-arrow-right"></i></span>
          </button>
        </a>
      </div>
      <!-- START THE CONTENT FOR THE VIDEO -->
      <div class="col-md-6 intros text-end">
        <div class="video-box">
          <img src="{% static 'images/coding.png' %}" alt="Coding Image" class="img-fluid">

        </div>
      </div>
    </div>
  </div>
</section>

<section class="get-started">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 services mt-4 text-start">
        <div class="services__pic">
          <img src="{% static 'images/web-development.png' %}" alt="web development" class="img-fluid">
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 services mt-4">
        <div class="services__content">
          <div class="icon d-block fas fa-code"></div>
          <h3 class="display-3--title mt-1">web development</h3>
          <p class="lh-lg">
            I love coding. I am a django (python) developer. I have built a project like e-commerce, management system
            and many more.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container-fluid">
<div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="row text-center">
                    <h1 class="display-6 fw-bold text-capitalize">Projects</h1>
                    <div class="heading-line"></div>
                  </div>
                  <div style="float: right;"><a href="/project/" class="badge bg-danger text-white mt-1 ms-1">View all</a></div>
                  <div class="row">
                    {% for project in projects %}
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
                      <a href="/project/detail/{{project.id}}/">
                        <div class="card h-100">
                          <div class="badge bg-danger text-white position-absolute mt-1 ms-1">{{project.project_type}}</div>
                          <img class="card-img-top" src="{{project.image.url}}" alt="{{project.project_name}}" style="width: 100%; height: 200px;">
                          <div class="card-body text-center">
                            <a href="/project/detail/{{project.id}}/" class="h4 text-danger text-decoration-none">{{project.project_name}}</a>
            
                            <div class="product-price">
                              <span class="price fw-bold ms-2">{% for tag in project.language_used.all %} <span class="badge bg-primary">{{tag}}</span> {% endfor %}</span>
                            </div>
                            <div class="product-price">
                              <span class="price fw-bold ms-2">
                                {% if project.github_url %}<a href="{{project.github_url}}" class="text-dark" target="_blank"><i class="fab fa-github"></i></a>{% endif %} 
                                {% if project.youtube_url %}<a href="{{project.youtube_url}}" class="text-dark" target="_blank"><i class="fab fa-youtube"></i></a>{% endif %} 
                                {% if project.project_url  %}<a href="{{project.project_url}}" class="text-dark" target="_blank"><i class="fas fa-globe"></i></a>{% endif %}
                              </span>
                            </div>
                          </div>
            
                        </div>
                      </a>
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
            </div>
              </div>
            </section>


<section id="contact" class="get-started">
  <div class="container">
    <div class="row text-center">
      <h1 class="display-3 fw-bold text-capitalize">Get in Touch</h1>
      <div class="heading-line"></div>
      <p class="lh-lg">
        If you have any query you can ask question by filling this form.
      </p>
    </div>
    <div class="row text-white">
      <div class="col-12 col-lg-6 gradient shadow p-3">
        <div class="cta-info w-100">
          <h4 class="display-4 fw-bold">My Contact</h4><br>
          <ul class="cta-info__list">
            <li>Mail<i class="fas fa-envelope"></i>: developer.sujitkhanal@gmail.com</li>
            <li>Github<i class="fab fa-github"></i>: https://github.com/DebugxFistey/</li>
            <li>Viber<i class="fab fa-viber"></i>: +977 9842765535</li>
            <li>Telegram<i class="fab fa-telegram"></i>: https://t.me/tijuslanahk</li>
            <li>Discord<i class="fab fa-discord"></i>: tijus.lanahk#6979</li>
            <li>Facebook<i class="fab fa-facebook"></i>: https://www.facebook.com/DebugxFistey</i></li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-lg-6 bg-white shadow p-3">
        <div class="form w-100 pb-2">
          <h4 class="display-3--title mb-5">Fill the form</h4>
          <form method="post" action="{% url 'contact:add-contact' %}" class="row">
            {% csrf_token %}
            <div class="col-lg-6 col-md mb-3">
              <input type="text" placeholder="First Name" name="firstname" id="inputFirstName"
                class="shadow form-control form-control-lg">
            </div>
            <div class="col-lg-6 col-md mb-3">
              <input type="text" placeholder="Last Name" name="lastname" id="inputLastName"
                class="shadow form-control form-control-lg">
            </div>
            <div class="col-lg-12 mb-3">
              <input type="email" placeholder="Your email address" name="email" id="inputEmail"
                class="shadow form-control form-control-lg">
            </div>
            <div class="col-lg-12 mb-3">
              <textarea name="message" placeholder="Write your message" name="message" id="message" rows="8"
                class="shadow form-control form-control-lg"></textarea>
            </div>
            <div class="text-center d-grid mt-1">
              <button type="submit" class="btn btn-primary rounded-pill pt-3 pb-3">
                submit
                <i class="fas fa-paper-plane"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}