{% extends 'base/base.html' %}
{% block content %}
<section id="contact" class="get-started">
    <div class="container">
      <div class="row text-center">
        <h1 class="display-4 fw-bold text-capitalize">Get in Touch</h1>
        <div class="heading-line"></div>
        <p class="lh-lg">
          If you have any query you can ask question by filling this form.
        </p>
      </div>
      <div class="row text-white">
        <div class="col-12 col-lg-6 gradient shadow p-3">
          <div class="cta-info w-100">
            <h4 class="display-4 fw-bold">My Contact</h4><br>
            <ul class="cta-info__list">
              <li>Mail<i class="fas fa-envelope"></i>: {{my_detail.data.mail}}</li>
              <li>Github<i class="fab fa-github"></i>: {{my_detail.data.github_url}}</li>
              <li>Whatsapp<i class="fab fa-whatsapp"></i>: {{my_detail.data.whatsapp}}</li>
              <li>Youtube<i class="fab fa-youtube"></i>: {{my_detail.data.youtube_url}}</li>
              <li>Facebook<i class="fab fa-facebook"></i>: {{my_detail.data.facebook_url}}</i></li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-lg-6 bg-white shadow p-3">
          <div class="form w-100 pb-2">
            <h4 class="display-3--title mb-5">Fill the form</h4>
            <form method="post" action="{% url 'contact:contact' %}" class="row">
              {% csrf_token %}
              <div class="col-lg-6 col-md mb-3">
                <input type="text" placeholder="First Name" name="firstname" id="inputFirstName"
                  class="shadow form-control form-control-lg" required>
                  {% if form.errors %}
                    <small class="text-danger">
                        {{ form.firstname.errors }}
                    </small>
                  {% else %}
                    <small class="text-dark">{{form.firstname.help_text}}</small>
                  {% endif %}
              </div>
              <div class="col-lg-6 col-md mb-3">
                <input type="text" placeholder="Last Name" name="lastname" id="inputLastName"
                  class="shadow form-control form-control-lg" required>
                  {% if form.errors %}
                    <small class="text-danger">
                        {{ form.lastname.errors }}
                    </small>
                  {% else %}
                    <small class="text-dark">{{form.lastname.help_text}}</small>
                  {% endif %}
              </div>
              <div class="col-lg-12 mb-3">
                <input type="email" placeholder="Your email address" name="email" id="inputEmail"
                  class="shadow form-control form-control-lg" required>
                  {% if form.errors %}
                    <small class="text-danger">
                        {{ form.email.errors }}
                    </small>
                  {% else %}
                    <small class="text-dark">{{form.email.help_text}}</small>
                  {% endif %}
              </div>
              <div class="col-lg-12 mb-3">
                <textarea name="message" placeholder="Write your message" name="message" id="message" rows="8"
                  class="shadow form-control form-control-lg" required></textarea>
                  {% if form.errors %}
                    <small class="text-danger">
                        {{ form.message.errors }}
                    </small>
                  {% else %}
                    <small class="text-dark">{{form.message.help_text}}</small>
                  {% endif %}
              </div>
              <div class="text-center d-grid mt-1">
                <button type="submit" class="btn btn-primary rounded-pill pt-3 pb-3">
                  submit
                  <i class="fas fa-paper-plane"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}